.moviehub-card-bottom {
    margin-top: 10px;
}

.moviehub-card-text {

    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

}

.moviehub-card-summary {

    height: 3em;
    line-height: 1em;
    overflow: hidden !important;
    text-overflow: ellipsis;

}

a:-webkit-any-link{
    text-decoration: none;
}
.moviehub-link{
    color:black;
}

.moviehub-link:hover { text-decoration: none; color:black; }
.moviehub-link:visited { text-decoration: none; color:black; }
.moviehub-link:focus { text-decoration: none; color:black; }